---
---
// Customisation for fonts
:root {
  --font-sans:
    "Inter", system-ui, -apple-system, segoe ui, roboto, helvetica, arial,
    sans-serif;
}

/* Apply site-wide */
html,
body {
  font-family: var(--font-sans);
}

// Customisation of heading styles
h1,
h2,
h3 {
  font-weight: 600;
}

.main-content h1,
.main-content h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.main-content h1:first-of-type,
.main-content h2:first-of-type {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a:not([class]) {
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
}

// Customisations for blog posts
.main-content p a {
  color: #a4cfe7;
}

.post-footer {
  margin-top: 2rem;
  padding-top: 0.75rem;
  color: #666;
  font-size: 0.9rem;
}

// Customisation for sidebar
.nav-list .nav-list-item > .nav-list {
  padding-left: 0;
  display: block;
}

.theme-toggle {
  padding: 2rem 3rem 1rem 1rem;
}

@media (min-width: 50rem) {
  .theme-toggle {
    width: 100%;
    padding: 3rem 3rem 1rem 2rem;
  }
}
